<!DOCTYPE html>
<html lang="en">
  <% include partials/page/header.ejs %>

  <body>
  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
<head>
    <title>Content Management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
	<body>
    <a class="btn btn-info create" id="create" href="/create_project">Create a new project</a>
    <a class="btn btn-info" id="add_new_project" href="/add_new_project">Add a new project</a>
    <a class="btn btn-info" id="sync" href="/sync">Sync</a>
		<div id="project_title">
			<h1>Projects</h1>
      <% if (own_projects.length == 0) { %>
            You don't have any forked projects! 
       <% } %>
		</div>
    <div id="projects">
  	    <ul class = "list-group">
          <% for(var i=0; i<own_projects.length; i++) { %>
            <% if (own_projects[i].fork == false) { %>
              <a class="list-group-item" href="/project/<%= own_projects[i].name %>">
                <span class="glyphicon glyphicon-folder-open"></span>
                <%= own_projects[i].name %>
              </a>
            <% } %>
          <% } %>
  		  </ul>
	  </div>
    <div id="project_title_1">
      <h1>Forked Projects</h1>
       <% if (forked_projects.length == 0) { %>
            You don't have any forked projects! 
       <% } %>
    </div>
      <div id="forked_projects">
        <ul class = "list-group">
          <% for(var i=0; i<forked_projects.length; i++) {%>
            <% if (forked_projects[i].fork) { %>
              <a class="list-group-item" href="/project/<%= forked_projects[i].name %>">
                <% if (forked_projects[i].type == "blob") { %>
                  <span class="glyphicon glyphicon-file"></span>
                <% } else { %>
                  <span class="glyphicon glyphicon-folder-open"></span>
                <% } %>
                <%= forked_projects[i].name %>
              </a>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
